@import "./variaveis.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body{
  max-width: 100dvw;
}

a {
  text-decoration: none;
  color: $cinza-03;
  transition: 0.4s;

  &:hover {
    color: $cinza-01;
  }
}

p{
  color: var(--chakra-colors-commons-100);
}