@import "../../styles/variaveis.scss";

.movies-container {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container > h2 {
  text-align: center;
  margin: 2dvh auto;
  font-size: 1.6rem;
  font-weight: 400;
}
