@import "../../styles/variaveis.scss";

.movie-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10dvh auto;

  .movie-card {
    text-align: center;
    margin: auto 10px;

    h3 {
      position: absolute;
      bottom: 30px;
    }

    span {
      position: absolute;
      bottom: 5px;
    }
  }
}

section {
  width: 400px;
  max-width: 90dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2dvw;
  margin: 1dvh 1dvw;

  @media (max-width: 430px) {
    text-align: center;
  }

  .tagline {
    font-size: 1.4rem;
    margin: 2dvh 0;
  }

  svg {
    color: $amarelo-01;
  }

  p {
    font-size: 1.1rem;
    font-weight: 200;
    margin: 1dvh 0;
  }
}
